<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
<bean id="satellite" class="com.wolken.clothes.DI.ClothingCompany" >
	<constructor-arg value="Flying Machine" type="String"/>
	<constructor-arg ref="panels"/>
</bean>
<bean id="panels" class="com.wolken.clothes.DI.Material" >
	<constructor-arg value="Cotton" type="String"/>
</bean>
</beans>    